.coach {
  position: relative;
  padding-bottom: 120px;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 50px;
  }
}

.coach h2 {
  padding-bottom: 45px;

  @include vp-1365 {
    text-align: center;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-bottom: 41px;
  }
}

.coach__button {
  cursor: pointer;
  content: "";
  width: 56px;
  height: 56px;
  position: absolute;
  padding: 0;
  border-radius: 50%;
  border: 1px solid transparent;
  background: transparent;

  @include vp-767 {
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
  }

  @include hover-focus {
    outline: 1px solid $color-default;
  }

  @include active {
    color: $color-default-white;
    background: $color-default;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
  }
}

.coach__button svg {
  width: 56px;
  height: 56px;
  stroke: $color-default;
  padding: 10px 18px;

  @include vp-767 {
    padding: 0;
    width: 10px;
    height: 19px;
  }

  @include active {
    stroke: $color-default-white;
  }
}

.coach__button.button-prev {
  top: 217px;
  left: 28px;

  @include vp-1365 {
    top: 200px;
    left: 26px;
  }

  @include vp-767 {
    top: 51%;
    left: 6px;
  }
}

.coach__button.button-next {
  top: 218px;
  right: 28px;

  @include vp-1365 {
    top: 200px;
    right: 26px;
  }

  @include vp-767 {
    top: 51%;
    right: 6px;
  }
}
